<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Director</title>
</head>
<body>
    <h1>Добавить режиссера в базу</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }} {{ form.name }}</p>
        <p>{{ form.genre.label }} {{ form.genre }}</p>
        <p>{{ form.experience.label }} {{ form.experience }}</p>
        <p>{{ form.budget.label }} {{ form.budget }}</p>
        <p>{{ form.submit }}</p>
    </form>
    <a href="{{ url_for('index') }}">Назад</a>
</body>
</html>
